In [861]:
import pandas as pnd

iris = pnd.read_csv('iris_sample.csv')
#source: https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv

iris

    sepal_length  sepal_width  petal_length  petal_width     species
0            4.7          3.2           1.3          0.2      setosa
1            4.6          3.1           1.5          0.2      setosa
2            5.0          3.6           1.4          0.2      setosa
3            5.4          3.9           1.7          0.4      setosa
4            7.0          3.2           4.7          1.4  versicolor
5            6.4          3.2           4.5          1.5  versicolor
6            6.9          3.1           4.9          1.5  versicolor
7            5.5          2.3           4.0          1.3  versicolor
8            6.5          2.8           4.6          1.5  versicolor
9            5.7          2.8           4.5          1.3  versicolor
10           5.1          3.5           1.4          0.2      setosa
11           4.9          3.0           1.4          0.2      setosa

In [862]:
import numpy as np

#split dataset
data_train = np.array(iris.iloc[:, 0:4])

data_train

array([[ 4.7,  3.2,  1.3,  0.2],
       [ 4.6,  3.1,  1.5,  0.2],
       [ 5. ,  3.6,  1.4,  0.2],
       [ 5.4,  3.9,  1.7,  0.4],
       [ 7. ,  3.2,  4.7,  1.4],
       [ 6.4,  3.2,  4.5,  1.5],
       [ 6.9,  3.1,  4.9,  1.5],
       [ 5.5,  2.3,  4. ,  1.3],
       [ 6.5,  2.8,  4.6,  1.5],
       [ 5.7,  2.8,  4.5,  1.3],
       [ 5.1,  3.5,  1.4,  0.2],
       [ 4.9,  3. ,  1.4,  0.2]])

In [863]:
cluster_num = 2

data = data_train
data_num = len(data)
col_num = len(data[0])

label = []
dm = np.zeros(shape=(data_num,data_num))
sda = np.zeros(shape=(data_num,3))

In [864]:
def distance(i1,i2):
    dist = 0
    for attr in range(col_num):
        dist += abs(data[i1][attr] - data[i2][attr])
    return dist

In [865]:
def init():
    for i in range(data_num):
        label.append(i)

    for i1 in range(data_num):
        for i2 in range(data_num):
            dm[i1][i2] = distance(i1,i2)

In [866]:
def process_shortest_path():
    for i in range(data_num):
        j = 0
        min = 99999
        sda[i][0] = min
        sda[i][1] = i
        sda[i][2] = j
        while j < data_num:
            if(dm[i][j] < min and dm[i][j] != 0):
                min = dm[i][j]
                sda[i][0] = min
                sda[i][1] = i
                sda[i][2] = j
            j += 1

In [867]:
def merging():
    
#     print sda
    print label
    
    process_shortest_path()
    
    min = sda[0][0]
    id1 = sda[0][1]
    id2 = sda[0][2]
    for i in range(data_num):
        if(sda[i][0] < min):
            min = sda[i][0]
            id1 = sda[i][1]
            id2 = sda[i][2]
    id1 = id1.astype(np.int64)
    id2 = id2.astype(np.int64)
    if(id1 < id2):
        label[:] = [id1 if x==id2 else x for x in label]
    else:
        label[:] = [id2 if x==id1 else x for x in label]
    dm[id1][id2] = 0
    dm[id2][id1] = 0
    
    for y in range(data_num):
        if(dm[id1][y] < dm[id2][y]):
            dm[id2][y] = dm[id1][y]
        else:
            dm[id1][y] = dm[id2][y]
    
    for x in range(data_num):
        if(dm[x][id1] < dm[x][id2]):
            dm[x][id2] = dm[x][id1]
        else:
            dm[x][id1] = dm[x][id2]
            
    cn = len(list(set(label)))
    
    if cluster_num != cn:
        merging()

In [868]:
init()
merging()
print label
print dm
# process_shortest_path()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 11]
[0, 0, 2, 3, 4, 5, 6, 7, 8, 9, 2, 11]
[0, 0, 2, 3, 4, 5, 4, 7, 8, 9, 2, 11]
[0, 0, 2, 3, 4, 5, 4, 7, 8, 9, 2, 0]
[0, 0, 2, 3, 4, 5, 4, 7, 5, 9, 2, 0]
[0, 0, 0, 3, 4, 5, 4, 7, 5, 9, 0, 0]
[0, 0, 0, 3, 4, 5, 4, 7, 5, 9, 0, 0]
[0, 0, 0, 3, 4, 4, 4, 7, 4, 9, 0, 0]
[0, 0, 0, 3, 4, 4, 4, 7, 4, 9, 0, 0]
[0, 0, 0, 3, 4, 4, 4, 7, 4, 4, 0, 0]
[0, 0, 0, 0, 4, 4, 4, 7, 4, 4, 0, 0]
[0, 0, 0, 0, 4, 4, 4, 4, 4, 4, 0, 0]
[[ 0.   0.   0.   0.   4.9  5.6  5.6  4.9  5.6  5.1  0.   0. ]
 [ 0.   0.   0.   0.   5.3  6.2  6.2  5.3  6.2  5.5  0.   0. ]
 [ 0.   0.   0.   0.   5.   6.   6.   5.   6.   5.2  0.   0. ]
 [ 0.   0.   0.   0.   4.9  5.6  5.6  4.9  5.6  5.1  0.   0. ]
 [ 4.9  5.3  5.   4.9  0.   0.   0.   0.   0.   0.   5.   5. ]
 [ 5.6  6.2  6.   5.6  0.   0.   0.   0.   0.   0.   6.   6. ]
 [ 5.6  6.2  6.   5.6  0.   0.   0.   0.   0.   0.   6.   6. ]
 [ 4.9  5.3  5.   4.9  0.   0.   0.   0.   0.   0.   5.   5. ]
 [ 5.6  6.2  6.   5.6  0.   0.   0.   0.   0.   0.   6.   6. ]
 [ 5.1  5.5  5.2  5.1  0.   0.   0.   0.   0.   0.   5.2  5.2]
 [ 0.   0.   0.   0.   5.   6.   6.   5.   6.   5.2  0.   0. ]
 [ 0.   0.   0.   0.   5.   6.   6.   5.   6.   5.2  0.   0. ]]